body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    background-image: url("../images/图片4.png");
}

p{
    font-size: 15px;
    font-weight: bold;
}

h2{
    font-weight: bold;
    line-height: 20px;
}

hr {
    margin-top: 10px;
    width:75%;
    margin-bottom: 20px;
    border-top: 3px solid #eee;
}

.text-center{
    text-align: center;
}

.container {
    width: 1170px;
    padding: 20px 15px 60px 15px;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(251, 242, 227, 0.75);
}

.con-box{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 20px auto;
}

.box1{
    width: 33.33333333%;
    float: left;
    position: relative;
    min-height: 1px;
}

#contact .fa {
    color: #5e7987;
    margin-bottom: 10px;
}

.form-group{
    margin: 20px auto;
    max-width: 850px;
    background: #f7f4ed;
    padding: 25px 15px 25px 10px;
    font: 12px Georgia, "Times New Roman", Times, serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #E4E4E4;
}
.form-group h1{
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;
    color: #888;
}
.form-group label>span {
    float: left;
    width: 20%;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}
.form-group input[type="text"], .form-group input[type="email"], .form-group textarea, .form-group select {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.form-grouptextarea{
    padding: 5px 3px 3px 5px;
}
.form-group select {

        text-indent: 0.01px;
        text-overflow: '';
        width: 70%;
        height: 35px;
        line-height: 25px;

    }
.form-group textarea{
    height:100px;
}
.form-group .button {
    background: #5698c3;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #11659a;
    cursor: pointer;
}
.form-group .button:hover {
    background: #126bae
}