body{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100%;
    vertical-align: baseline;
    background-color: rgb(228,223,215);
    text-decoration: none;
}


header {
    /* height为banner与nav长度之和 */
    height: 140px;
    text-align: center;
}




ul{/*设置导航栏的框*/
    margin-top:auto;
    margin-left:17%;
    padding: 10px;
}
li{
   list-style-type: none;/* 去掉li前的点 */
   float: left;/*将li设置成做浮动，变为联动*/
   margin-left: 50px;
}
a{
   display: block;/*将a变成块状*/
   width: 118px;
   height: 50px;
   font-family: baseline;
   line-height: 50px;
   background-color: #aaa;
   margin: 0px 0px;
   color: #fff;
   text-align: center;/*字体居中*/
   text-decoration: none;/*去掉下划线*/
   font-size:100%;
}
a:hover{
   background-color: rgb(236,155,173);/*鼠标点击后显示的颜色*/
}

div {
    display: block;
}

div#banner {
    width: 100%;
    padding-left:8px;
    text-align: left;
    height: 70px;
    font-family: "Comic Sans MS";
    font-size: 16px;
    color: #393733;
}
.sticky{
    position: fixed;
    z-index: 110;
    top: 0;
}
div#banner img{
    margin: auto 15px;
}

div#nav{
    width: 100%;
    height: 70px;
    background-color:#aaa;
}
.stickynav{
    position: fixed;
    z-index: 110;
    top: 70px;
}

div.box{
    width:85%;
    left: 50%;
    text-align: center;
    background-color: rgba(228,223,215,0.7);
    margin: 0 auto;
    padding: 10px auto;
}
div.box#bigbox{
    margin:40px auto;
    height: 600px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.box#bigbox h1{
    font-size: 80px;  
    color:#3366FF;  
    text-shadow: 0 8px 10px #6699FF;  /*设置文字阴影*/                  
    font-weight: bolder;                              
    text-align: center;  
}


footer{
    padding: auto;
    text-align: center;
    font-size: small;
    height: 40px;
    margin:15px auto 0 auto;
    clear: both;

}
